105291-3d-glossy-orange-orb-icon-business-electrical-plug2.png
105810-3d-glossy-orange-orb-icon-media-a-media22-arrow-forward1.png
105815-3d-glossy-orange-orb-icon-media-a-media27-pause-sign.png
battery (1).png
battery.png
Battery-Charge-battery-icon.png
blue-shield.png
electric_charging-512.png
jamembo-network-error.png
power_plug.png
warning.png
Warning_notification.svg.med.png